<div class="container-fluid">
  <div class="store-search-container">
    <div class="store-filter-column col-3">
      <h6>Filters</h6>
      <div class="input-group mb-3 mt-3">
        <div class="custom-control custom-checkbox store-filter-group">
          <div class="store-filter">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Open for delivery</label>
          </div>
          <div class="store-filter">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Free delivery</label>
          </div>
          <div class="store-filter">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">No delivery minimum</label>
          </div>
          <div class="store-filter">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Accepts credit cards</label>   
          </div>                                             
        </div>
      </div>
    </div>
    <div class="store-cards-container col-9">
      <h3>Stores</h3>
      <div class="store-cards ">
        <% @stores.each do |store| %>
          <div class="card text-center ">
            <%# <div class="card-header">
              Featured
            </div> %>
            <%= link_to store_path(store) do%>
              <div class="card-body">              
                <div class="card-img ">
                  <img src="store-1.jpg" alt="store front" width="200" height="200"/>
                </div>
                <div class="card-title-text ">
                  <h5 class="card-title"><%= store.storeName %></h5>              
                  <p class="card-text">Placeholder -- Open/Closed, Pickup/Delivery, distance</p>
                </div>
                <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
              </div>
            <% end %>
            <%# <div class="card-footer text-muted">
              2 days ago
            </div> %>
          </div>
        <% end %>  
      </div>
    </div>
  </div>
</div>