
<div class="container-fluid">
    <p id="notice"><%= notice %></p>
    <div class="jumbotron">
        <h1 class="display-4">Gleeful Gardens</h1>
        <p class="lead">Order plants and supplies from the best home and garden stores in your area.</p>
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input class="form-control" id="jumbotron-search" placeholder="(todo)Enter your address or city to find stores in your area...">
            </div>
            <button class="btn btn-outline-success mb-2">Stores</button>
        </form>  
    </div>  
</div>