<p id="notice"><%= notice %></p>
<div class="container-fluid">
    <div class="jumbotron">
        <%# <div>
            <div class="col-4">
                <img src="..."  alt="...">
            </div>           
        </div> %>
        <h1 class="display-4">Gleeful Gardens</h1>
        <p class="lead">Order plants and supplies from the best home and garden stores in your area.</p>
        <%# <div class="custom-file">
            <input type="" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Enter your addres or city to see local stores...</label>
            </div>
        </div> %>
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input class="form-control" id="jumbotron-search" placeholder="Enter your address or city to find stores in your area...">
            </div>
            <%# <button type="jumbotron-search-submit" class="btn btn-primary mb-2">Search</button> %>
            <%= link_to "Stores", stores_path, class: "btn btn-outline-success mb-2" %>
        </form>  
    </div>  
</div>