@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #087e12  !important;
  border-radius: 0.3rem;
  margin-bottom: 50px;
} 

.footer{
    background-color: #087e12 !important;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0.3rem;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.store-filter-column{
    float: left;
    height: 100%;
}

.store-filter{
    margin-top: 3px;
    margin-bottom: 3px;
}

.card-body {
    
}

.card-img {

}

.card-text-title {

}

.store-search-container {
    display: flex;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumbotron {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color:#f0f1e8;    
    background-image: asset-url('home-garden.jpg');
}

.btn-outline-success {
    margin-left: 10px;
    background-color: white;
}

.display-4 {
    font-weight: bold;
}

.lead {
    font-weight: bold;
}

#jumbotron-search {
    width: 700px;
}
