<div class="container-fluid">
  <footer id="sticky-footer" class="footer py-4 bg-light">
    <div class="container text-center">
      <small>Gleeful Gardens Copyright &copy; 2021</small>
    </div>
  </footer>
</div>
